.btn {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  min-width: 10rem;
  border-radius: 10rem;
  color: $color-white;
  text-align: center;
  letter-spacing: 2px;
  font-size: $font-size-xs;
  transition: 0.2s;
  &--primary {
    background-color: $color-primary;
  }
  &--second {
    border: 1px solid $color-grey-light-1;
    background-color: rgba($color-black, 0.3);
    &:hover {
      border-color: $color-white;
      transform: scale(1.05);
    }
  }
}
