.grid {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-bottom: $gutter;
    width: calc((100% - 3 * #{$gutter}) / 4);

    @include rwd(sm) {
      margin-right: 0;
      width: 100%;
    }

    &:not(:nth-child(4n)) {
      margin-right: $gutter;
    }
  }
}
