$color-primary: #03bb4f; //green
$color-error: #ff6159;
$color-warning: #ffc12e;
$color-white: #fff;
$color-black: #000;

//bg
$color-grey-1: #121212;
$color-grey-2: #181818;
$color-grey-3: #282828;
$color-grey-4: #333;
$color-grey-5: #404040;

//font
$color-grey-light-1: #a0a0a0;
$color-grey-light-2: #9c9c9c;
$color-grey-light-3: #565656;

$font-size-xs: 1rem;
$font-size-sm: 1.4rem;
$font-size-lg: 1.8rem;

//footer
$info-text-width: 12rem;
