@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400&display=swap");
* {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 10px;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-grey-2;
  color: $color-grey-light-2;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.6rem;
}
#app {
  height: 100%;
}
.text {
  &--sm {
    font-size: $font-size-xs;
  }
  &--primary {
    color: $color-primary;
  }
  &--center {
    text-align: center;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.title-2nd {
  color: $color-white;
  font-size: $font-size-lg;
}
