.home {
  .card-1st {
    position: relative;
    cursor: pointer;
    &__text {
      position: absolute;
      top: 70%;
      left: 50%;
      display: block;
      padding-bottom: 0.3rem;
      color: $color-white;
      transform: translateX(-50%);
    }
    &:hover .card-1st__text {
      border-bottom: 1px solid $color-white;
    }
  }
  .card-2nd {
    font-size: $font-size-sm;
    &__title {
      margin-bottom: 0.8rem;
      color: $color-white;
    }
    &__thumbnail {
      margin-bottom: 0.8rem;
    }
    &__description {
      margin-bottom: 0.8rem;
      line-height: normal;
    }
    &__fans {
      letter-spacing: 2px;
      font-size: $font-size-xs;
    }
  }
}
