.footer {
  padding: 1.5rem;
  background-color: $color-grey-3;
  animation: fadeBottomIn 0.5s $animate-func;

  @include flex;
  .info {
    position: relative;
    white-space: nowrap;
    line-height: normal;

    @include flex;
    &__img {
      margin-right: 1rem;
      width: 5rem;
    }
    &__song {
      display: inline-block;
      overflow: hidden;
      margin-right: 2rem;
      max-width: $info-text-width;
      width: auto;
      text-overflow: ellipsis;
      font-size: $font-size-sm;
      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
    &__singer {
      overflow: hidden;
      max-width: $info-text-width;
      width: auto;
      text-overflow: ellipsis;
      font-size: $font-size-xs;
      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
    &__icon {
      position: absolute;
      top: 1rem;
      right: 0;
      &:not(:last-child):hover {
        color: $color-white;
      }
    }
  }
}
