.sidebar-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: $color-grey-1;
  animation: fadeLeftIn $transition-seconds $animate-func 0.2s both;

  @include rwd(md) {
    display: none;
    transform: translateX(-100%);
    animation: none;
    &.active {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      transform: translateX(0);
      animation: fadeLeftIn $transition-seconds $animate-func 0.2s both;
    }
  }

  .menu {
    overflow-y: auto;
    margin-bottom: 5.4rem;
    padding-top: 1.5rem;
    &__link {
      position: relative;
      padding: 0.7rem 2rem;

      @include flex;
      &:hover,
      &.active {
        color: $color-white;
      }
      &.router-link-exact-active::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 0.4rem;
        height: 1.9rem;
        background-color: $color-primary;
        content: "";
        transform: translateY(-50%);
      }
      &__icon {
        margin-right: 1rem;
        font-size: 2rem;
      }
      &__text {
      }
    }

    &__title {
      display: block;
      margin-top: 3rem;
      padding: 0 2rem 0.7rem 2rem;
      font-size: $font-size-xs;
    }
  }
  .add-list {
    position: absolute;
    bottom: 0;
    display: block;
    margin-top: auto;
    padding: 2rem 0;
    width: 100%;
    border-top: 1px solid $color-grey-3;
    text-align: center;
    &__icon {
      margin-right: 0.5rem;
    }

    &:hover {
      color: $color-white;
    }
  }
}
