.sidebar-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  animation: fadeLeftIn 0.5s $animate-func 0.2s both;
  .menu {
    overflow-y: auto;
    margin-bottom: 5.4rem;
    padding-top: 1.5rem;
    &__link {
      position: relative;
      display: block;
      padding: 0.7rem 2rem;
      &:hover,
      &.active {
        color: $color-white;
      }
      &.router-link-active::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 0.4rem;
        height: 1.9rem;
        background-color: $color-primary;
        content: "";
        transform: translateY(-50%);
      }
    }
    &__title {
      display: block;
      margin-top: 3rem;
      padding: 0 2rem 0.7rem 2rem;
      font-size: $font-size-xs;
    }
  }
  .add-list {
    position: absolute;
    bottom: 0;
    display: block;
    margin-top: auto;
    padding: 2rem 0;
    width: 100%;
    border-top: 1px solid $color-grey-3;
    text-align: center;
    &__icon {
      margin-right: 0.5rem;
    }

    &:hover {
      color: $color-white;
    }
  }
}
